<!DOCTYPE html>
<html ng-app="TVPremieresApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TV Show Premieres</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/angular.min.js"></script>
        <script src="js/tv-premieres-app/app.js"></script>
        <script src="js/tv-premieres-app/controllers/mainController.js"></script>
        <script src="js/tv-premieres-app/controllers/filters.js"></script>
    </head>
    <body>
        <div class="banner">
            <div class="container">
                <h1>TV SHOW PREMIERES</h1>
            </div>
        </div>
        <div class="container main-frame" ng-controller="mainController">
            <div class="search-box" ng-hide="loading">
                <div class="form-inline">
                    <label>Filter:</label>
                    <input type="text" class="form-control" ng-model="filterText" placeholder="Search shows...">
                    <label>Genre:</label>
                    <select class="form-control" ng-model="genreFilter" ng-options="g for g in availableGenres">
                        <option value="">All</option>
                    </select>
                    <label>Order by:</label>
                    <select class="form-control" ng-model="orderField" ng-options="f for f in orderFields"></select>
                    <select class="form-control" ng-model="orderReverse" ng-options="o.value as o.label for o in [{value: false, label: 'Ascending'}, {value: true, label: 'Descending'}]"></select>
                </div>
            </div>
            <div class="loading-state" ng-show="loading">
                <p><span class="glyphicon glyphicon-refresh spinning"></span> Loading TV schedule from TVmaze...</p>
            </div>
            <div class="error-state" ng-show="error">
                <p><span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}</p>
            </div>
            <div class="results-container" ng-hide="loading">
                <p class="result-count" ng-show="results.length > 0">
                    Showing {{(results | filter:filterText | isGenre:genreFilter).length}} of {{results.length}} shows
                    <span ng-show="genreFilter"> in <strong>{{genreFilter}}</strong></span>
                </p>
                <ul class="episode-list">
                    <li ng-repeat="tvshow in results | filter:filterText | isGenre:genreFilter | orderBy:customOrder:orderReverse">
                        <div class="row">
                            <div class="col-sm-3">
                                <img ng-src="{{tvshow.episode.images.screen}}" alt="{{tvshow.show.title}}">
                                <div class="ratings">
                                    <span class="label" ng-class="tvshow.episode.ratings.average >= 7 ? 'label-success' : (tvshow.episode.ratings.average >= 5 ? 'label-warning' : 'label-danger')" ng-show="tvshow.episode.ratings.average > 0">
                                        <span class="glyphicon glyphicon-star"></span> {{tvshow.episode.ratings.average}}/10
                                    </span>
                                    <span class="label label-default" ng-show="tvshow.episode.ratings.average === 0">
                                        Not rated
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h3>{{tvshow.show.title}}: {{tvshow.episode.title}}</h3>
                                <span class="label label-primary episode-badge" ng-show="tvshow.episode.number">S{{tvshow.episode.season}}E{{tvshow.episode.number}}</span>
                                <p>{{tvshow.episode.overview}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="pull-right label label-info fulldate">{{tvshow.date}}</div>
                                <ul class="show-info">
                                    <li><strong>On Air:</strong> {{tvshow.show.air_day}} {{tvshow.show.air_time}}</li>
                                    <li><strong>Network:</strong> {{tvshow.show.network}}</li>
                                    <li><strong>Season #:</strong> {{tvshow.episode.season}}</li>
                                    <li><strong>Genres:</strong> <span class="label label-default genre" ng-repeat="genre in tvshow.show.genres" ng-click="setGenreFilter(genre)">{{genre}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="no-results" ng-show="results.length > 0 && (results | filter:filterText | isGenre:genreFilter).length === 0">
                    No shows match your filters.
                </div>
            </div>
        </div>
    </body>
</html>