<!DOCTYPE html>
<html ng-app="TVPremieresApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TV Show Premieres</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/angular.min.js"></script>
        <script src="js/tv-premieres-app/app.js"></script>
        <script src="js/tv-premieres-app/controllers/mainController.js"></script>
        <script src="js/tv-premieres-app/controllers/filters.js"></script>
    </head>
    <body>
        <div class="banner">
            <div class="container">
                <h1>TV SHOW PREMIERES</h1>
            </div>
        </div>
        <div class="container main-frame" ng-controller="mainController">
            <div class="search-box">
                <div class="form-inline">
                    <label>Filter:</label>
                    <input type="text" class="form-control" ng-model="filterText" placeholder="Search shows...">
                    <label>Genre:</label>
                    <select class="form-control" ng-model="genreFilter" ng-options="g for g in availableGenres">
                        <option value="">All</option>
                    </select>
                    <label>Order by:</label>
                    <select class="form-control" ng-model="orderField" ng-options="f for f in orderFields"></select>
                    <select class="form-control" ng-model="orderReverse" ng-options="o.value as o.label for o in [{value: false, label: 'Ascending'}, {value: true, label: 'Descending'}]"></select>
                </div>
            </div>
            <div class="results-container">
                <ul class="episode-list">
                    <li ng-repeat="tvshow in results | filter:filterText | isGenre:genreFilter | orderBy:customOrder:orderReverse">
                        <div class="row">
                            <div class="col-sm-3">
                                <img ng-src="{{tvshow.episode.images.screen}}" alt="{{tvshow.show.title}}">
                                <div class="ratings">
                                    <strong>Ratings:</strong>
                                    <span class="label label-default"><span class="glyphicon glyphicon-thumbs-up"></span> {{tvshow.episode.ratings.loved}}</span>
                                    <span class="label label-default"><span class="glyphicon glyphicon-thumbs-down"></span> {{tvshow.episode.ratings.hated}}</span>
                                    <span class="label" ng-class="tvshow.episode.ratings.percentage >= 50 ? 'label-success' : 'label-danger'"><strong>%</strong> {{tvshow.episode.ratings.percentage}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h3>{{tvshow.show.title}}: {{tvshow.episode.title}}</h3>
                                <p>{{tvshow.episode.overview}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="pull-right label label-info fulldate">{{tvshow.date}}</div>
                                <ul class="show-info">
                                    <li><strong>On Air:</strong> {{tvshow.show.air_day}} {{tvshow.show.air_time}}</li>
                                    <li><strong>Network:</strong> {{tvshow.show.network}}</li>
                                    <li><strong>Season #:</strong> {{tvshow.episode.season}}</li>
                                    <li><strong>Genres:</strong> <span class="label label-default genre" ng-repeat="genre in tvshow.show.genres" ng-click="setGenreFilter(genre)">{{genre}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="no-results" ng-show="(results | filter:filterText | isGenre:genreFilter).length === 0">
                    No shows match your filters.
                </div>
            </div>
        </div>
    </body>
</html>